<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Agregue el titulo del empleo" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Agregue descripción del empleo" %>
  </div>

  <div class="mb-4">
    <%= form.submit "Crear", class: "btn btn-primary" %>
  </div>
<% end %>
