<div class="d-flex justify-content-center align-items-center">
  <div class="card custom-container-log col-12 col-lg-4">
    <div class="card-body">

        <% if notice.present? %>
        <div class="alert alert-success" role="alert" id="success-message">
          <p class="text-center" style="color: green"><%= notice %></p>
        </div>
        <script>
          setTimeout(function() {
            var successMessage = document.getElementById('success-message');
            if (successMessage) {
              successMessage.style.display = 'none';
            }
          }, 8000);
        </script>
      <% end %>

      <%= render @job %>

      <div class="d-flex gap-2">
        <%= link_to "Volver", jobs_path, class: "btn btn-outline-primary" %>
        <% if user_signed_in? %>
         
        <% if current_user.jobs.include?(@job) %>
          <span class="btn btn-success disabled">Aplicado</span>
        <% else %>
<%= button_to "Aplicar al Empleo", job_apply_path(@job), method: :post, class: "btn btn-success" %>
        <% end %>

         


        <% end %>
        <% if current_user && current_user.admin? %>
          <%= link_to "Editar", edit_job_path(@job), class: "btn btn-primary" %>
          <%= button_to "Eliminar", @job, method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
